# Especialització de DataScience de la IT ACADEMY
### *Sprint2 - Tasca 5 - Exercici 1*
#### **Descarrega el data set Airlines Delay: Airline on-time statistics and delay causes i carrega’l a un pandas Dataframe. Explora les dades que conté, i queda’t únicament amb les columnes que consideris rellevants.**

#### Alumne: Jorge Prieto Data: 18/02/2022

In [1]:
import pandas as pd

dataset = pd.read_csv("DelayedFlights.csv")

In [2]:
#observació de les dades
dataset.head(10)

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,...,4.0,8.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1,1,2008,1,3,4,754.0,735,1002.0,1000,WN,...,5.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
2,2,2008,1,3,4,628.0,620,804.0,750,WN,...,3.0,17.0,0,N,0,NaN,NaN,NaN,NaN,NaN
3,4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,...,3.0,10.0,0,N,0,2.0,0.0,0.0,0.0,32.0
4,5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,...,4.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
5,6,2008,1,3,4,1937.0,1830,2037.0,1940,WN,...,3.0,7.0,0,N,0,10.0,0.0,0.0,0.0,47.0
6,10,2008,1,3,4,706.0,700,916.0,915,WN,...,5.0,19.0,0,N,0,NaN,NaN,NaN,NaN,NaN
7,11,2008,1,3,4,1644.0,1510,1845.0,1725,WN,...,6.0,8.0,0,N,0,8.0,0.0,0.0,0.0,72.0
8,15,2008,1,3,4,1029.0,1020,1021.0,1010,WN,...,6.0,9.0,0,N,0,NaN,NaN,NaN,NaN,NaN
9,16,2008,1,3,4,1452.0,1425,1640.0,1625,WN,...,7.0,8.0,0,N,0,3.0,0.0,0.0,0.0,12.0

In [3]:
#Mostrar 50 columnes abans dels punts suspensius
pd.options.display.max_columns = 50

In [4]:
dataset

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,N712SW,128.0,150.0,116.0,-14.0,8.0,IAD,TPA,810,4.0,8.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1,1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,N772SW,128.0,145.0,113.0,2.0,19.0,IAD,TPA,810,5.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
2,2,2008,1,3,4,628.0,620,804.0,750,WN,448,N428WN,96.0,90.0,76.0,14.0,8.0,IND,BWI,515,3.0,17.0,0,N,0,NaN,NaN,NaN,NaN,NaN
3,4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,N464WN,90.0,90.0,77.0,34.0,34.0,IND,BWI,515,3.0,10.0,0,N,0,2.0,0.0,0.0,0.0,32.0
4,5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,378,N726SW,101.0,115.0,87.0,11.0,25.0,IND,JAX,688,4.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1936753,7009710,2008,12,13,6,1250.0,1220,1617.0,1552,DL,1621,N938DL,147.0,152.0,120.0,25.0,30.0,MSP,ATL,906,9.0,18.0,0,N,0,3.0,0.0,0.0,0.0,22.0
1936754,7009717,2008,12,13,6,657.0,600,904.0,749,DL,1631,N3743H,127.0,109.0,78.0,75.0,57.0,RIC,ATL,481,15.0,34.0,0,N,0,0.0,57.0,18.0,0.0,0.0
1936755,7009718,2008,12,13,6,1007.0,847,1149.0,1010,DL,1631,N909DA,162.0,143.0,122.0,99.0,80.0,ATL,IAH,689,8.0,32.0,0,N,0,1.0,0.0,19.0,0.0,79.0
1936756,7009726,2008,12,13,6,1251.0,1240,1446.0,1437,DL,1639,N646DL,115.0,117.0,89.0,9.0,11.0,IAD,ATL,533,13.0,13.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1936757,7009727,2008,12,13,6,1110.0,1103,1413.0,1418,DL,1641,N908DL,123.0,135.0,104.0,-5.0,7.0,SAT,ATL,874,8.0,11.0,0,N,0,NaN,NaN,NaN,NaN,NaN

In [5]:
#Retard en les sortides i arribades
dataDelay = dataset[['DayofMonth','Month','DepTime','CRSDepTime','DepDelay','ArrTime','CRSArrTime','ArrDelay','ActualElapsedTime']]
dataDelay

,DayofMonth,Month,DepTime,CRSDepTime,DepDelay,ArrTime,CRSArrTime,ArrDelay,ActualElapsedTime
0,3,1,2003.0,1955,8.0,2211.0,2225,-14.0,128.0
1,3,1,754.0,735,19.0,1002.0,1000,2.0,128.0
2,3,1,628.0,620,8.0,804.0,750,14.0,96.0
3,3,1,1829.0,1755,34.0,1959.0,1925,34.0,90.0
4,3,1,1940.0,1915,25.0,2121.0,2110,11.0,101.0
...,...,...,...,...,...,...,...,...,...
1936753,13,12,1250.0,1220,30.0,1617.0,1552,25.0,147.0
1936754,13,12,657.0,600,57.0,904.0,749,75.0,127.0
1936755,13,12,1007.0,847,80.0,1149.0,1010,99.0,162.0
1936756,13,12,1251.0,1240,11.0,1446.0,1437,9.0,115.0
1936757,13,12,1110.0,1103,7.0,1413.0,1418,-5.0,123.0

In [6]:
dataTimeFly = dataset[['DayofMonth','Month','Origin','Dest','Distance','CRSElapsedTime','ActualElapsedTime','AirTime','DepTime','ArrTime','ArrDelay']]
dataTimeFly

,DayofMonth,Month,Origin,Dest,Distance,CRSElapsedTime,ActualElapsedTime,AirTime,DepTime,ArrTime,ArrDelay
0,3,1,IAD,TPA,810,150.0,128.0,116.0,2003.0,2211.0,-14.0
1,3,1,IAD,TPA,810,145.0,128.0,113.0,754.0,1002.0,2.0
2,3,1,IND,BWI,515,90.0,96.0,76.0,628.0,804.0,14.0
3,3,1,IND,BWI,515,90.0,90.0,77.0,1829.0,1959.0,34.0
4,3,1,IND,JAX,688,115.0,101.0,87.0,1940.0,2121.0,11.0
...,...,...,...,...,...,...,...,...,...,...,...
1936753,13,12,MSP,ATL,906,152.0,147.0,120.0,1250.0,1617.0,25.0
1936754,13,12,RIC,ATL,481,109.0,127.0,78.0,657.0,904.0,75.0
1936755,13,12,ATL,IAH,689,143.0,162.0,122.0,1007.0,1149.0,99.0
1936756,13,12,IAD,ATL,533,117.0,115.0,89.0,1251.0,1446.0,9.0
1936757,13,12,SAT,ATL,874,135.0,123.0,104.0,1110.0,1413.0,-5.0

### *Sprint2 - Tasca 5 - Exercici 2*
#### **Fes un informe complet del data set:**

    Resumeix estadísticament les columnes d’interès
    Troba quantes dades faltants hi ha per columna
    Crea columnes noves (velocitat mitjana del vol, si ha arribat tard o no...)
    Taula de les aerolínies amb més endarreriments acumulats
    Quins són els vols més llargs? I els més endarrerits?
    Etc.

In [7]:
#distancia mitjana recorreguda
print("Distancia mitja recorreguda durant 2008:",round(dataset['Distance'].mean(),2),"milles")

Distancia mitja recorreguda durant 2008: 765.69 milles

In [8]:
#distancia máxima i mínima recorreguda
print("Distancia màxima recorreguda durant 2008:",round(dataset['Distance'].max(),2),"milles")
print("Distancia mínima recorreguda durant 2008:",round(dataset['Distance'].min(),2),"milles")

Distancia màxima recorreguda durant 2008: 4962 milles
Distancia mínima recorreguda durant 2008: 11 milles

In [9]:
#Valors màxims dels vols
dataTimeFly.max()[4:]

Distance             4962
CRSElapsedTime        660
ActualElapsedTime    1114
AirTime              1091
DepTime              2400
ArrTime              2400
ArrDelay             2461
dtype: object

In [10]:
#Valors màxims de temps
dataDelay.max()[2:]

DepTime              2400.0
CRSDepTime           2359.0
DepDelay             2467.0
ArrTime              2400.0
CRSArrTime           2400.0
ArrDelay             2461.0
ActualElapsedTime    1114.0
dtype: float64

In [11]:
#dades del operador AA
dataset[dataset['UniqueCarrier']=='AA']

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
145160,477131,2008,1,16,3,906.0,900,1212.0,1225,AA,1,N332AA,366.0,385.0,333.0,-13.0,6.0,JFK,LAX,2475,15.0,18.0,0,N,0,NaN,NaN,NaN,NaN,NaN
145161,477132,2008,1,17,4,915.0,900,1217.0,1225,AA,1,N335AA,362.0,385.0,324.0,-8.0,15.0,JFK,LAX,2475,9.0,29.0,0,N,0,NaN,NaN,NaN,NaN,NaN
145162,477139,2008,1,24,4,918.0,900,1239.0,1225,AA,1,N338AA,381.0,385.0,352.0,14.0,18.0,JFK,LAX,2475,11.0,18.0,0,N,0,NaN,NaN,NaN,NaN,NaN
145163,477140,2008,1,25,5,922.0,900,1236.0,1225,AA,1,N332AA,374.0,385.0,353.0,11.0,22.0,JFK,LAX,2475,9.0,12.0,0,N,0,NaN,NaN,NaN,NaN,NaN
145164,477150,2008,1,4,5,946.0,930,1813.0,1750,AA,2,N328AA,327.0,320.0,281.0,23.0,16.0,LAX,JFK,2475,27.0,19.0,0,N,0,0.0,0.0,23.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1910556,6943221,2008,12,27,6,2212.0,2005,107.0,2300,AA,2491,N438AA,175.0,175.0,157.0,127.0,127.0,ORD,AUS,978,4.0,14.0,0,N,0,110.0,17.0,0.0,0.0,0.0
1910557,6943224,2008,12,30,2,2032.0,2005,2317.0,2300,AA,2491,N4XLAA,165.0,175.0,138.0,17.0,27.0,ORD,AUS,978,6.0,21.0,0,N,0,0.0,17.0,0.0,0.0,0.0
1910558,6943226,2008,12,21,7,1813.0,1645,2248.0,1950,AA,2500,N389AA,275.0,185.0,150.0,178.0,88.0,MIA,JFK,1090,30.0,95.0,0,N,0,88.0,0.0,90.0,0.0,0.0
1910559,6943228,2008,12,25,4,1627.0,1600,1947.0,1925,AA,2501,N386AA,200.0,205.0,153.0,22.0,27.0,JFK,MIA,1090,5.0,42.0,0,N,0,22.0,0.0,0.0,0.0,0.0
1910560,6943229,2008,12,19,5,1558.0,1400,2101.0,1655,AA,2548,N7CBAA,303.0,175.0,169.0,246.0,118.0,MIA,JFK,1090,27.0,107.0,0,N,0,0.0,0.0,246.0,0.0,0.0

In [12]:
#Troba quantes dades faltants hi ha per columna (True: falta dada, False: Dada)
dataset.iloc[0].isnull()

Unnamed: 0           False
Year                 False
Month                False
DayofMonth           False
DayOfWeek            False
DepTime              False
CRSDepTime           False
ArrTime              False
CRSArrTime           False
UniqueCarrier        False
FlightNum            False
TailNum              False
ActualElapsedTime    False
CRSElapsedTime       False
AirTime              False
ArrDelay             False
DepDelay             False
Origin               False
Dest                 False
Distance             False
TaxiIn               False
TaxiOut              False
Cancelled            False
CancellationCode     False
Diverted             False
CarrierDelay          True
WeatherDelay          True
NASDelay              True
SecurityDelay         True
LateAircraftDelay     True
Name: 0, dtype: bool

In [13]:
#Troba quantes dades faltants hi ha per columna i fila (True: falta dada, False: Dada)
dataset.isnull()

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True,True,True,True
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True,True,True,True
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True,True,True,True
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1936753,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1936754,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1936755,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1936756,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True,True,True,True
1936757,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True,True,True,True

In [14]:
#Detectar dades buides per comparació de número de files 
dataset.count()

Unnamed: 0           1936758
Year                 1936758
Month                1936758
DayofMonth           1936758
DayOfWeek            1936758
DepTime              1936758
CRSDepTime           1936758
ArrTime              1929648
CRSArrTime           1936758
UniqueCarrier        1936758
FlightNum            1936758
TailNum              1936753
ActualElapsedTime    1928371
CRSElapsedTime       1936560
AirTime              1928371
ArrDelay             1928371
DepDelay             1936758
Origin               1936758
Dest                 1936758
Distance             1936758
TaxiIn               1929648
TaxiOut              1936303
Cancelled            1936758
CancellationCode     1936758
Diverted             1936758
CarrierDelay         1247488
WeatherDelay         1247488
NASDelay             1247488
SecurityDelay        1247488
LateAircraftDelay    1247488
dtype: int64

### Crea columnes noves (velocitat mitjana del vol, si ha arribat tard o no...)

In [15]:
dataTimeFly

,DayofMonth,Month,Origin,Dest,Distance,CRSElapsedTime,ActualElapsedTime,AirTime,DepTime,ArrTime,ArrDelay
0,3,1,IAD,TPA,810,150.0,128.0,116.0,2003.0,2211.0,-14.0
1,3,1,IAD,TPA,810,145.0,128.0,113.0,754.0,1002.0,2.0
2,3,1,IND,BWI,515,90.0,96.0,76.0,628.0,804.0,14.0
3,3,1,IND,BWI,515,90.0,90.0,77.0,1829.0,1959.0,34.0
4,3,1,IND,JAX,688,115.0,101.0,87.0,1940.0,2121.0,11.0
...,...,...,...,...,...,...,...,...,...,...,...
1936753,13,12,MSP,ATL,906,152.0,147.0,120.0,1250.0,1617.0,25.0
1936754,13,12,RIC,ATL,481,109.0,127.0,78.0,657.0,904.0,75.0
1936755,13,12,ATL,IAH,689,143.0,162.0,122.0,1007.0,1149.0,99.0
1936756,13,12,IAD,ATL,533,117.0,115.0,89.0,1251.0,1446.0,9.0
1936757,13,12,SAT,ATL,874,135.0,123.0,104.0,1110.0,1413.0,-5.0

In [16]:
#conversió de milles a km
Distance_km = dataTimeFly['Distance']*1.60934
Distance_km

0          1303.56540
1          1303.56540
2           828.81010
3           828.81010
4          1107.22592
              ...
1936753    1458.06204
1936754     774.09254
1936755    1108.83526
1936756     857.77822
1936757    1406.56316
Name: Distance, Length: 1936758, dtype: float64

In [17]:
dataTimeFly_hour = dataTimeFly['AirTime']/60
dataTimeFly_hour

0          1.933333
1          1.883333
2          1.266667
3          1.283333
4          1.450000
             ...
1936753    2.000000
1936754    1.300000
1936755    2.033333
1936756    1.483333
1936757    1.733333
Name: AirTime, Length: 1936758, dtype: float64

In [18]:
AvergSpeed = round(Distance_km/dataTimeFly_hour,2)
AvergSpeed

0          674.26
1          692.16
2          654.32
3          645.83
4          763.60
            ...
1936753    729.03
1936754    595.46
1936755    545.33
1936756    578.28
1936757    811.48
Length: 1936758, dtype: float64

In [19]:
dataDelay.assign(AvergSpeed=AvergSpeed)

,DayofMonth,Month,DepTime,CRSDepTime,DepDelay,ArrTime,CRSArrTime,ArrDelay,ActualElapsedTime,AvergSpeed
0,3,1,2003.0,1955,8.0,2211.0,2225,-14.0,128.0,674.26
1,3,1,754.0,735,19.0,1002.0,1000,2.0,128.0,692.16
2,3,1,628.0,620,8.0,804.0,750,14.0,96.0,654.32
3,3,1,1829.0,1755,34.0,1959.0,1925,34.0,90.0,645.83
4,3,1,1940.0,1915,25.0,2121.0,2110,11.0,101.0,763.60
...,...,...,...,...,...,...,...,...,...,...
1936753,13,12,1250.0,1220,30.0,1617.0,1552,25.0,147.0,729.03
1936754,13,12,657.0,600,57.0,904.0,749,75.0,127.0,595.46
1936755,13,12,1007.0,847,80.0,1149.0,1010,99.0,162.0,545.33
1936756,13,12,1251.0,1240,11.0,1446.0,1437,9.0,115.0,578.28
1936757,13,12,1110.0,1103,7.0,1413.0,1418,-5.0,123.0,811.48

## Agregar columna de condició de retard

In [20]:
dataDelay

,DayofMonth,Month,DepTime,CRSDepTime,DepDelay,ArrTime,CRSArrTime,ArrDelay,ActualElapsedTime
0,3,1,2003.0,1955,8.0,2211.0,2225,-14.0,128.0
1,3,1,754.0,735,19.0,1002.0,1000,2.0,128.0
2,3,1,628.0,620,8.0,804.0,750,14.0,96.0
3,3,1,1829.0,1755,34.0,1959.0,1925,34.0,90.0
4,3,1,1940.0,1915,25.0,2121.0,2110,11.0,101.0
...,...,...,...,...,...,...,...,...,...
1936753,13,12,1250.0,1220,30.0,1617.0,1552,25.0,147.0
1936754,13,12,657.0,600,57.0,904.0,749,75.0,127.0
1936755,13,12,1007.0,847,80.0,1149.0,1010,99.0,162.0
1936756,13,12,1251.0,1240,11.0,1446.0,1437,9.0,115.0
1936757,13,12,1110.0,1103,7.0,1413.0,1418,-5.0,123.0

In [21]:
DelayQuery = dataDelay['ArrDelay']>0
DelayQuery

0          False
1           True
2           True
3           True
4           True
           ...
1936753     True
1936754     True
1936755     True
1936756     True
1936757    False
Name: ArrDelay, Length: 1936758, dtype: bool

In [22]:
dataDelay.assign(IsDelay=DelayQuery)

,DayofMonth,Month,DepTime,CRSDepTime,DepDelay,ArrTime,CRSArrTime,ArrDelay,ActualElapsedTime,IsDelay
0,3,1,2003.0,1955,8.0,2211.0,2225,-14.0,128.0,False
1,3,1,754.0,735,19.0,1002.0,1000,2.0,128.0,True
2,3,1,628.0,620,8.0,804.0,750,14.0,96.0,True
3,3,1,1829.0,1755,34.0,1959.0,1925,34.0,90.0,True
4,3,1,1940.0,1915,25.0,2121.0,2110,11.0,101.0,True
...,...,...,...,...,...,...,...,...,...,...
1936753,13,12,1250.0,1220,30.0,1617.0,1552,25.0,147.0,True
1936754,13,12,657.0,600,57.0,904.0,749,75.0,127.0,True
1936755,13,12,1007.0,847,80.0,1149.0,1010,99.0,162.0,True
1936756,13,12,1251.0,1240,11.0,1446.0,1437,9.0,115.0,True
1936757,13,12,1110.0,1103,7.0,1413.0,1418,-5.0,123.0,False

### *Sprint2 - Tasca 5 - Exercici 3*
#### **Exporta el data set net i amb les noves columnes a Excel.**

In [23]:
dataDelay.to_csv ("dataDelay.csv", index = True, header = True)

In [ ]:
dataDelay.to_csv ("dataTimeFly.csv", index = True, header = True)